@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color: #373737;
}

.container {
  max-width: 1145px;
  margin: 0 auto;
}

.header__list {
  margin: 0 auto;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 2.7px;
}
.header__list li {
  display: inline-block;
  margin: 25px 0;
}

.header__list a {
  display: inline-block;
  margin-right: 72px;
  color: #ff0000;
  text-transform: uppercase;
  text-decoration: none;
}
.header__list .header__link {
  margin-left: -22px;
}

.main__img {
  display: inline-block;
  object-fit: cover;
  width: 100%;
  margin-bottom: 51px;
}

.main .main__header {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 22px;
  line-height: 1.2;
  letter-spacing: 3.3px;
  text-align: center;
  margin-bottom: 38px;
}

.main .main__desc {
  font-size: 16px;
  text-align: center;
  line-height: 1.62;
  letter-spacing: 2.4px;
  margin-bottom: 28px;
}

.main__btn {
  text-align: center;
  margin-top: 66px;
  margin-bottom: 82px;
}
.main__btn a {
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 1.8px;
  color: #ffffff;
  text-decoration: none;
  background-color: #ff0000;
  border-radius: 4px;
  padding: 18px 43px;
  text-transform: uppercase;
}

.footer .footer__desc {
  font-size: 16px;
  line-height: 1.2;
  text-align: right;
  letter-spacing: 2.4px;
  margin-right: 55px;
  margin-bottom: 29px;
}
